<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>

			<class name="com.testcases.Signup_validData_test" />
			<class name="com.testcases.Signup_invalidData_test" />

			<class name="com.testcases.Signup_leave_mandatory_field_test" />
			<class
				name="com.testcases.Signup_without_agreeing_the_checkbox_test" />
			<class
				name="com.testcases.Signup_clicks_on_signup_without_providing_data_test" />
			<class
				name="com.testcases.Signup_navigate_to_sign_in_page_when_clicks_on_sign_in_button_test" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
